body {
  background-color: #E6FFE6;
}
ul {
  margin: 0;
  padding: 0;
}

.header {
  background-color: white;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid grey;
  position: relative;

  .icon-brand-logo {
    float: left;
    margin: 8px;
  }
}

.header--menu {
  float: right;
  padding: 21px;
}

@menu-height: 154px;

.menu--container {
  height: 0;
  width: 100%;
  background-color: #fff;
  overflow-y: hidden;
  -webkit-transition: height 0.5s ease-in-out;
  -moz-transition: height 0.5s ease-in-out;
  -o-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;

  &.is-open {
    height: @menu-height;
    border-bottom: 1px solid grey;
  }

  //Probably want this at a bigger width
  /*li {
    display: block;
    float: left;
    width: 100% * 4 / 24;
  }*/
  li {
    line-height: 30px;
    text-align: center;
    border-bottom: 1px solid lightgray;
}
}

.menu--toggle:checked ~ .menu--container {
  height: @menu-height;
  border-bottom: 1px solid grey;
}

.menu--toggle {
  display: none;
}
